@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  text-decoration: none;
}

body {
  background: rgb(95, 209, 249);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #quote-box {
    border-radius: 5px;
    background: linear-gradient(
      109.6deg,
      rgba(0, 0, 0, 0.83) 27.2%,
      rgba(63, 61, 61, 0.7) 87.9%
    );
    color: #eaf6f6;
    padding: 50px 40px;
    // margin: auto;
    // width: 50%;
    position: relative;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      outline: none;
      background: #c3195d;
      color: #eaf6f6;
      padding: 10px 10px;
      cursor: pointer;
    }
  }
}

.quote::before {
  content: open-quote;
  color: #c3195d;
  font-size: 7rem;
  position: absolute;
  top: 6px;
  left: 18px;
  z-index: 0;
}

.quote {
  padding-bottom: 15px;
  font-size: 1.3rem;
  text-align: justify;
}

.author {
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 15px 0;
}

.tweet {
  font-size: 32px;
  color: #1da1f2;
}
