@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  text-decoration: none;
}

body {
  background: url(./img/paper-texture.jpg) no-repeat fixed center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h4 {
    font-size: 1.4rem;
    font-family: "Sacramento", cursive;
    color: rgba(63, 61, 61, 0.9);
    margin-bottom: 15px;
  }

  #quote-box {
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      109.6deg,
      rgba(0, 0, 0, 0.83) 27.2%,
      rgba(63, 61, 61, 0.7) 87.9%
    );
    color: #eaf6f6;
    padding: 50px 40px;
    // margin: auto;
    width: 500px;
    position: relative;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      outline: none;
      background: #c3195d;
      color: #eaf6f6;
      padding: 10px 10px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #ec3d83;
      }
    }
  }
}

.quote::before {
  content: open-quote;
  color: #c3195d;
  font-family: sacramento;
  font-size: 7rem;
  position: absolute;
  top: 6px;
  left: 18px;
  z-index: 0;
}

.quote {
  padding-bottom: 15px;
  font-size: 1.3rem;
  text-align: justify;
}

.author {
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 15px 0;
}

.tweet {
  font-size: 32px;
  color: #1da1f2;
  transition: 0.2s;

  &:hover {
    color: #4cb5f6;
    transform: scale(1.08);
  }
}

.footer {
  font-size: 0.8rem;
  font-weight: 500;
  padding-top: 5px;
  display: inline;
  color: #2d1a29;
  a {
    color: #302c2d;
  }
}
